<suite thread-count="1" verbose="1" name="E-commerce portal automation">
    <!-- <test name = "E-commerce portal Login">
         <classes>
             <class name ="TestRunners.LoginTestRunner"/>
         </classes>
     </test> -->

    <test name="E-commerce portal Product Purchase">
        <groups>
            <run>
                <include name="purchase"></include>
            </run>
        </groups>
        <classes>
            <class name="TestRunners.ProductPurchaseTestRunner"/>
        </classes>
    </test>
</suite>